:root {
  --font-style-heading: "Bebas Neue", cursive;
  --font-style-paragraph: "Open Sans", sans-serif;
  --font-color: #e9e9e9;
}

div,
section,
header,
footer,
p,
ul,
h1,
h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: royalblue;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

body::before {
  content: "";
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 100%;
  background-image: url(./assets/Mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  z-index: -1;
}
