* {
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin-top: 2rem;
}

.warning {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
.red {
  background-color: #ffa4a4;
}

.green {
  background-color: #a4ffb0;
}

.book-table .delete {
  color: #ff0000;
  cursor: pointer;
}

@media (max-width: 750px) {
  .container {
    width: 80%;
  }
}
